<html>
<body>
    <h1>Login</h1>
    <% if (error) { %><p><%= error %></p><% } %>
    <form method="post">
        User: <input name="username"><br>
        Pass: <input type="password" name="password"><br>
        <button>Login</button>
    </form>
</body>
</html>
